[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pyinstaller = "*"
autopep8 = "*"
flake8-print = "*"
flake8-eradicate = "*"
flake8-docstrings = "*"
mkdocs = "*"
mkdocs-material = "*"

[packages]
colorama = "*"
pywin32 = {version = "==301",sys_platform = "== 'win32'"}

[requires]
python_version = "3.7"
